body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: hsl(232, 10%, 30%); 
  position: absolute; 
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
.attribution a { color: hsl(232, 10%, 30%); }
.medium-grey-text {
    color: hsl(216, 12%, 54%);
}
.light-grey-text {
    color: hsl(217, 12%, 63%);
}
.bg-dark {
  background-color: hsl(0deg 0% 100% / 8%);
}

.cover-container {
    max-width: 29.5em;
}

.icon-star{
    background-color: hsl(0deg 0% 100% / 8%);
    display: inline-block;
    padding: 13px;
    border-radius: 50%;
}

.text-wrap{
  background-color: hsl(0deg 0% 100% / 8%);
  display: inline-block;
  width: auto;
  padding: 0.35em 0.65em;
  border-radius: 1em;
  color:hsl(25, 97%, 53%);
  font-size: 15px;
  line-height: 1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

/* card */
.card{
  background-color: hsl(213, 19%, 18%);
  border-radius: 1.5rem;
  height: 404px;
}
.card-body{
padding: 2rem 2rem;
}
.card-title{
font-size: 27px;
color: #fff;
}
.card-text{
font-size: 15px;
}

/* button */
.btn{
  border-radius: 2em;
  width: 100%;
  letter-spacing: 4px;
  padding: 0.5rem;
}
.btn-check:focus+.btn, .btn:focus {
  box-shadow: none;
}
.btn-orange {
  color: #fff;
  background-color: hsl(25, 97%, 53%);
}
.btn-orange:active, .btn-orange:hover{
  color: hsl(25, 97%, 53%);
  background-color: #fff
}

/* rating */
.rating {
    border: none;
  }
  .rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
  }
  .rating:not(:checked) > label {
    width: 3em;
    height: 3em;
    /* padding: 0 .2em; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1em;
    line-height: 3em;
    color: hsl(216, 12%, 54%);
    border-radius: 50%;
    background-color: hsl(0deg 0% 100% / 8%);
    text-align: center;
  }
  .rating:not(:checked) > label:before {
    content: normal;
  }
  .rating:not(:checked) > label:hover {
    color: #fff;
    background-color: hsl(25, 97%, 53%);
  }
  .rating > input:checked + label {
    color: #fff;
    background-color: hsl(216, 12%, 54%);
  }
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover {
    color: #fff;
    background-color: hsl(25, 97%, 53%);
  }
  .rating > label:active {
    position: relative;
  }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .row>*{
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 424px) { 
  .card{
    height: 420px;
  }
}

@media (max-width: 340px) { 
  .card{
    height: auto;
  }
}

